<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 offset-md-3">
      <h1>Add a restaurant</h1>
      <%= simple_form_for(@restaurant) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.input :category, placeholder: "Can only be chinese, japanese, french, belgian or italian" %>
        <%= f.submit "Add restaurant", class: "btn btn-primary" %>
        <% if @restaurant.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @restaurant.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
      <br>
      <%= link_to "Back to list", restaurants_path %>
    </div>
  </div>
</div>
